{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seedcase Project Portal</title>
    <header class="header-banner" id="ifln">
        <h1 id="i5utm"><span id="i5nr4">Seedcase Portal</span></h1>
    </header>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="bg-color">
    <section class="flex-sect" id="isdxm">
        <div class="container-width" id="iumf">
            <div class="logo-container"></div>
            <nav class="menu" id="ituj">
                <div class="menu-item" id="i7b2"><a
                        href="/datafile/"><h3>Data Files</h3></a></div>
                <div class="menu-item" id="i7b2"><a href="/projects/"><h3>Projects</h3></a></div>
                <div class="menu-item" id="i7b2"><a href="/organizations/"><h3>Organizations</h3></a></div>
                <div class="menu-item" id="i6uff"><a href="/"><h3>Home</h3></a></div>
            </nav>
            <div class="clearfix"></div>
        </div>
    </section>
{% block content %}

{% endblock content %}

</body>
</html>