{% extends 'base.html' %}


{% block content %}
    <table class="table" style="width:40%; margin: 0px auto;">
        <thead>
        <tr>
            <th scope="col-8">#</th>
            <th scope="col-8">Organization Name</th>
            <th scope="col-8">Organization Address</th>
            <th scope="col-8">Organization City</th>
        </tr>
        </thead>
        <tbody>
        {% for organization in organization_list %}
            <tr>
                <th>{{ organization.id }}</th>
                <td> {{ organization.name }}</td>
                <td>{{ organization.address }}</td>
                <td>{{ organization.city }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}