{% extends 'base.html' %}

{% block content %}
    <table class="table" style="width:40%; margin: 0px auto;">
        <thead>
        <tr>
            <th scope="col-8">#</th>
            <th scope="col-8">Project Name</th>
            <th scope="col-8">Project Data Label</th>
            <th scope="col-8">Description</th>
            <th scope="col-8">Data Set</th>
        </tr>
        </thead>
        <tbody>
        {% for data_obj in project_data_list %}
            <tr>
                <th>{{ data_obj.id }}</th>
                <td> {{ data_obj.project.name }}</td>
                <td>{{ data_obj.label }}</td>
                <td>{{ data_obj.description }}</td>
                <td><a href="api/data_list/{{ data_obj.id }}/">View Data</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}