{% extends 'base.html' %}

{% block content %}
    <table class="table" style="width:40%; margin: 0px auto;">
        <thead>
        <tr>
            <th scope="col-8">#</th>
            <th scope="col-8">Project Name</th>
            <th scope="col-8">Project Description</th>
            <th scope="col-8">Project Stack Holders</th>
            <th scope="col-8">Team Members</th>
        </tr>
        </thead>
        <tbody>
        {% for project in project_list %}
            <tr>
                <th>{{ project.id }}</th>
                <td> {{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{% for org in project.stakeholder.all %}{{ org }}</br>{% endfor %}</td>
                <td>{% for user in project.team_member.all %}{{ user }}</br>{% endfor %}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock content %}